body{

    background-color: black;
    color: white;
    text-align: center;

}
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }                                                                 /* I followed a tutorial to get a hover-pulsing effect for my sub-page directories, The credit should go to w3schools.com */

  .hvr-pulse-grow {                   
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: white;
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  .Headings{
    color:white;
        display: flex;
    
        flex-direction: space-around;
    
        flex-wrap:wrap;
    
        justify-content: space-around;
    
        font-family:'calibri';  
    
    
        
    
        border-width: 10px;
    
        
    }

  .DevOps{

    text-align: center;

    
  }

  h2{

    padding: 20px;
  }
  img{
    width:auto;
    height:auto;
    max-height: 50%;
    max-width: 50%;
}